<header class="topbar">
    <div class="top-left"></div>
    <div class="top-right">
        <button class="header-bell-btn">
            <i class="far fa-bell"></i>
            <span class="notif-dot"></span>
        </button>
        <div class="divider"></div>
        
        <div class="user-menu-container" onclick="this.querySelector('.dropdown-menu').classList.toggle('show')">
            <div class="avatar-wrapper">
                <div class="avatar-circle"><i class="far fa-user"></i></div>
                <span class="avatar-name">Admin</span>
                <i class="fas fa-chevron-down chev-icon"></i>
            </div>
            <div class="dropdown-menu">
                <a href="quanLyhosocanhan.html" class="dropdown-item">Hồ sơ cá nhân</a>
                <a href="dangNhap.html" class="dropdown-item">Đăng xuất</a>
            </div>
        </div>
    </div>
</header>