<aside class="sidebar">
  <div class="brand">
    <div class="logo">IP</div>
    <div class="brand-text">Import Portal</div>
  </div>

  <nav class="nav">
    <a class="nav-item" href="/pages/dashboard.html">
      <span class="icon icon-badge dashboard" aria-hidden>
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 11.5L12 4l9 7.5V20a1 1 0 0 1-1 1h-5v-6H9v6H4a1 1 0 0 1-1-1v-8.5z" fill="#0B4EA2"/></svg>
      </span>
      <span class="label">Dashboard</span>
    </a>

    <a class="nav-item" href="/pages/danhSachHoSo.html">
      <span class="icon icon-badge docs" aria-hidden>
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 2h7l5 5v13a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1z" fill="#036641"/></svg>
      </span>
      <span class="label">Danh sách hồ sơ</span>
    </a>

    <a class="nav-item" href="/pages/thongBao.html">
      <span class="icon icon-badge notify" aria-hidden>
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 22a2 2 0 0 0 2-2H10a2 2 0 0 0 2 2zm6-6V11c0-3.07-1.64-5.64-4.5-6.32V4a1.5 1.5 0 0 0-3 0v.68C7.64 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z" fill="#9B4DCA"/></svg>
      </span>
      <span class="label">Thông báo</span>
    </a>

    <a class="nav-item" href="/pages/quanLyUser.html">
      <span class="icon icon-badge users" aria-hidden>
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 11c1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3 1.34 3 3 3zM6 11c1.66 0 3-1.34 3-3S7.66 5 6 5 3 6.34 3 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V20h14v-3.5C13 14.17 8.33 13 6 13zm10 0c-.29 0-.62.02-.97.05C15.4 13.37 16 14.13 16 15v2h6v-1.5c0-2.33-4.67-3.5-6-3.5z" fill="#F59E0B"/></svg>
      </span>
      <span class="label">Quản lý người dùng</span>
    </a>

    <a class="nav-item" href="/pages/phanQuyen.html">
      <span class="icon icon-badge roles" aria-hidden>
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 1L3 5v6c0 5 3.8 9.74 9 11 5.2-1.26 9-6 9-11V5l-9-4z" fill="#059669"/></svg>
      </span>
      <span class="label">Phân quyền</span>
    </a>

    <a class="nav-item" href="/pages/botScheduler.html">
      <span class="icon icon-badge bot" aria-hidden>
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2a6 6 0 0 0-6 6v1H4v6h16v-6h-2V8a6 6 0 0 0-6-6zM8 14h8v2H8v-2z" fill="#334155"/></svg>
      </span>
      <span class="label">Quản lý Bot Scheduler</span>
    </a>
  </nav>
</aside>
